<div class="main-grid mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3">
  {% assign all_projects = site.projects %}
  {% assign projects = site.projects | where: "category", include.category | default: all_projects %}

  {%- for project in projects reversed -%}
  <a class="border border-gray-300 shadow-sm no-underline hover:no-underline !text-black" href="{{ project.url }}">
    <img class="w-full" src="{{ site.baseurl }}/assets/images/{{ project.thumb }}" alt="{{ project.id }}" />
    <div
      class="border-t-[3px] flex items-center text-lg lg:text-lg xl:text-[1.25vw] 2xl:text-[1.25vw] px-3 py-2 uppercase tracking-wider"
    >
      {{ project.title }}
    </div>
  </a>
  {%- endfor -%}
</div>
