---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'f';
  font-weight: 100;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/assets/fonts/f.woff2) format("woff2");
}
@font-face {
  font-family: 'fb';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/assets/fonts/fb.woff2) format("woff2");
}
@font-face {
  font-family: 'GooperBold';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/assets/fonts/Gooper-Bold.woff2) format("woff2");
}
@font-face {
  font-family: 'GooperBoldItalic';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/assets/fonts/Gooper-BoldItalic.woff2) format("woff2");
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

*, ::before, ::after {
  border-color: white;
}

main a, main a:hover {
  color: #1756a9 !important;
}
main .main-grid a, main .main-grid a:hover {
  color: black !important;
}

@media screen and (max-width: 600px) {
  .site-nav input:checked ~ .trigger {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .site-nav input:checked ~ .trigger a {
    flex-basis: 100%;
  }
}

/* Navbar */
#nav-checkbox:checked ~ ul.vertical-menu li {
  @apply flex;
}
#nav-checkbox:checked ~ label#nav-toggle #svg-close {
	@apply block;
}
#nav-checkbox:checked ~ label#nav-toggle #menu {
	@apply hidden;
}
#nav-checkbox:checked ~ ul.nav-menu {
	@apply pb-4;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 23px;
  width: 2px;
  background-color: #000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

