<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="text-gray-700">
    {%- include navbar.html -%}

    <main class="mt-16" aria-label="Content">
      <div class="p-4">{{ content }}</div>
    </main>

    {%- include footer.html -%}
    <!-- <script type="text/javascript" src="{{ site.baseurl }}/assets/js/lightbox.js"></script> -->
    {% if page.folder != "" %}
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/carousel.js"></script>
    {% endif %}
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lightbox.css"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/carousel.css">
  </body>

</html>
