---
layout: default
---
<div class="mx-auto">
  <article class="px-4 pt-4 sm:px-8 xl:px-12">
    <header class="max-w-screen-lg mx-auto mb-4">
      <div class="text-[3rem] sm:text-[4rem] text-black uppercase mr-4" style="font-family: fb">{{ page.title }}</div>
      <div class="text-3xl sm:text-4xl pb-6 italic font-['Pompiere']">
        {{ page.position }}
      </div>
    </header>

    {% if page.header and page.header != '' and page.header != nil %}
      {% include page_header.html page=page %}
    {% else %}
      {% include carousel.html folder=page.folder %}
    {% endif %}

    <div class="max-w-screen-md mx-auto prose lg:prose-lg">
      {{ content }}
    </div>
  </article>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/carousel.js"></script>
